<form class="login" action="/login" method="POST">
  <h2>Welcome to the waiter scheduling app.</h2>
  <h3>Please enter your name.</h3>
  <label for="firstName">First name: </label>
  <input type="text" name="firstName">
  <label for="surname">Surname: </label>
  <input type="text" name="surname">
  <input type="submit" value="log in">
</form>
