* {
  font-family: 'Roboto', sans-serif;
  color: #332A24;
  text-align: center;
  letter-spacing: 0.01rem;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
}

html {
  background-color: white;
}

input {
  cursor: pointer;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1.5rem;
  width: fit-content;
  display: grid;
  justify-items: center;
  row-gap: 0.6rem;
  margin-top: 1rem;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: auto;
  align-items: center;
  align-content: start;
  margin-bottom: 2rem;
}

body * {
  grid-column: 2 / 3;
}

.last-week {
  grid-column: 1 / 2;
  grid-row: 5;
}
.next-week {
  grid-column: 3 / 4;
  grid-row: 5;
}

.last-week,
.next-week {
  color: #332A24;
  background: none;
  padding: 0;
}

.this-week {
  /* grid-row: 5; */
  font-size: 1rem;
}

.logo {
 text-transform: uppercase;
 padding: 0.75rem 1rem;
 font-size: 0.9rem;
 letter-spacing: 0.1rem;
 font-weight: 300;
 border:  double 3.5pt;
 width: fit-content;
}

.shifts {
  width: fit-content;
  border: none;
  background-color: #f2d87b;
  padding: 0.5rem 0.9rem;
  border-radius: 1.4rem;
  font-size: 0.8rem;
}

.day {
  padding-top: 0.5rem;
  border: solid #332A24;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  width: 95%;
  grid-column: 1 / 4;
  justify-self: center;
}

.return {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: underline;
}

.day span {
  display: block;
  color: #332A24;
  padding-bottom: 0.4rem;
  text-transform: capitalize;
}

.working {
  background-color: #afd1a1;
  border: transparent;
}

.standby {
  background-color: #a5d5c9;
  border: transparent;
}


.admin input.done {
    background-color: #e69db0;
}

h2 {
  font-size: 1.2rem;
}

.today,
.tomorrow {
  /* height: 5rem; */
  border-radius:0.5rem;
  padding: 0.5rem 1rem 0 1rem;
}

.today h2,
.tomorrow h2 {
  font-weight: 400;
  line-height: 1.75;
}

.today span, .tomorrow span {
    display: block;
    padding: 0 0 0.5rem 0;
}

form.add-shift {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    align-content: center;
    align-items: center;
    width: -webkit-fill-available;
    justify-self: end;
}
form.cancel-shift {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    align-content: center;
    align-items: center;
    width: -webkit-fill-available;
    justify-self: end;
}

.add-shift label {
    grid-column: 2 / 3;
    padding-bottom: 0.5rem;
}
.cancel-shift label {
    grid-column: 2 / 3;
    padding-bottom: 0.5rem;
}

.add-shift input[type="checkbox"] {grid-column: 1 / 2;}
.cancel-shift input[type="checkbox"] {grid-column: 1 / 2;}

.add-shift div {
  grid-column: 1 / 3;
  border: transparent solid 2pt;
}
.cancel-shift div {
  grid-column: 1 / 3;
  /* border: transparent solid 2pt; */
}

input.save {
    grid-column: 1 / 3;
    width: fit-content;
    border: none;
    background-color: #c26568;
    color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 1.4rem;
    font-size: 0.8rem;
    justify-self: center;
}
.not.working {
    background: none;
    border: solid 2pt;
}

input.done {
    display: none;
    grid-column: 1 / -1;
    width: fit-content;
    justify-self: center;
    background-color: #e69db0;
    font-weight: 400;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.admin h2 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.week {
    row-gap: 0.5rem;
    display: grid;
    border: none;
    width: max-content;
    justify-self: center;
}

.week .working {
    background: none;
    grid-column: 1 / 3;
    grid-row: 2;
}

.week .standby {
    background: none;
    grid-column: 1/3;
    grid-row: 3;
    height: fit-content;
}

h3 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    background: none;
    width: 70%;
    margin: 0.5rem auto;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.working h3 {
    background-color: #afd1a1;
    grid-column: span 2;
    height: fit-content;
    justify-self: center;
    width: 10rem;
}

.standby h3 {
    background-color: #a5d5c9;
    grid-column: span 2;
    width: 10rem;
}

.admin {
    grid-column: 1 / 4;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    row-gap: 0.5rem;
}

.admin input {
    border: none;
    background: none;
}

input[value="expand_more"] {
   grid-column: span 3;
}

.admin .day div {display: none; grid-template-columns: auto 1fr;row-gap: 0.5rem;align-items: center;align-content: start;grid-column: span 3;width: max-content;justify-self: center;}

.week .day.full {
    border: solid #afd1a1;
}

.full-w-standby::before {content: '';position: absolute;border: dotted #a5d5c9;border-radius: inherit;top: -0.6rem;bottom: -0.6rem;left: -0.6rem;right: -0.6rem;z-index: -100;}

.admin div:first-child {
  margin-top: 1rem;
    margin-bottom: 1rem;
}

.week .day.full-w-standby {
    position: relative;
    border-color: #afd1a1;
    margin: 0.6rem;
}

.week .day {
    border: solid #d57b47;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    padding: 0.5rem 0.1rem;
    row-gap: 0.5rem;
}

.admin a.material-icons-round.last-week {
    grid-row: 2;
}

.admin a.material-icons-round.next-week {
    grid-row: 2;
}

.admin button.clear {
  font-size: 0.8rem;
  color: red;
  grid-column: 1;
  background: none;
  border: none;
  padding: 0;
  display: none;
  cursor: pointer;
}

input[value="mode_edit"] {
    font-size: 0.9rem;
    grid-column: 3;
}

form.admin-add {
    display: none;
    justify-content: center;
    grid-column: 1 / -1;
}

span.waiter {
    padding: 0;
    text-align: left;
}

form.login {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 1rem;
}


.login h2 {
    grid-column: span 2;
}

.login h3 {
    grid-column: span 2;
}

.login label {
    grid-column: 1 / 2;
    text-align: end;
    padding-right: 0.5rem;
}

.login input[type="submit"] {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: #e69db0;
    font-weight: 400;
    width: fit-content;
    justify-self: center;
    grid-column: span 2;
}

a.admin-link {
    margin: 2rem auto;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: coral;
}

input[type="text"] {
    text-align: left;
}

.reset input {
    margin: 1rem;
    background-color: lightsteelblue;
    padding: 1rem;
    font-weight: 400;
    border-radius: 0.2rem;
}

@media only screen and (min-width: 800px) {
  .admin {
   grid-template-columns: 1fr auto 1fr;
  }
  .week {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 90vw;
    grid-column: span 3;
}

.week .day {
  grid-column: span 1;
  height: auto;
  grid-template-columns: 2rem 1fr 2rem;
  align-content: start;
  width: 100%;
}

input[value="expand_more"] {
display: none;
}

.admin .day div {
  display: grid;
    grid-column: span 3;
    grid-row: 2;
    row-gap: 0.4rem;
    /* width: fit-content; */
    justify-self: center;
}

.admin h2 {
  font-size: 0.8rem;
  margin: 0.3rem;
  grid-column: 2;
}

.admin div:first-child {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  width: 80%;
  grid-template-columns: 1fr auto 1fr;
}

.week .day.full-w-standby {
    position: relative;
    border-color: #afd1a1;
    margin: 0.6rem;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    justify-items: center;
    padding-bottom: 0.6rem;
}

.this-week {
  width:max-content;
}

.last-week {
  justify-self:end;
}

.next-week {
  justify-self:start;
}

span.waiter {
    padding: 0;
    text-align: left;
}



.full-w-standby h2 {
    grid-column: 2 / 4;
}


form.admin-add {
    grid-column: 1 / -1;
    display: none;
    justify-content: center;
    padding: 1rem;
}

.admin .full-w-standby div {
    grid-column: span 2;
}

input[value="mode_edit"] {
    grid-column: 3;
    font-size: 0.9rem;
    justify-self: end;
}

.full-w-standby input[value="mode_edit"] {
  font-size: 0.9rem;
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
}

.working h3 {
    width: 5rem;
}

.standby h3 {
    width: 5rem;
}

form.add-shift,
form.cancel-shift {
    width: 40vw;
}


}